{% extends "layout/base.html" %}
{% load staticfiles %}
{% block title %}Reset Password | {{ settings.APP_NAME_TEXT }}{% endblock %}
{% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static '/assets/css/custom.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static '/assets/css/login.css' %}" type="text/css" />
{% endblock %}

{% block content %}
<div class="center">
		<img class="logo center" src="{% static '/assets/img/icon/gmovies-logo.png' %}">
	</div>
<div class="title center">{{settings.APP_NAME}}</div>
<div class="container">
    <div class="login-container" style="height: auto">
        {% include settings.FORM_ERROR with form=form messages=messages %}
        <div class="login-account center">Reset Password</div>
        <form id="login-form" role="form" method="POST" novalidate">
            {% csrf_token %}
            <!-- {% include settings.FORM_CORE with form=form %} -->
            <div class="form-group label-floating">
                <label for="email" class="control-label">Email</label>
                <input id="email" type="text" class="form-control" name="email" placeholder="Enter your email" autofocus>
            </div>
            <div class="form-group label-floating">
                <button type="submit" class="btn btn-primary">Reset Password</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </form>	
<!-- <div class="login login-with-news-feed">
    <div class="news-feed">
        <div class="news-image" style="background-image: url({% static '/assets/core/img/login-bg/login-bg-12.jpg' %})"></div>
        <div class="news-caption">
            <h4 class="caption-title"><b>{{ settings.APP_NAME }}</b> Admin App</h4>
            <p>
                Download the {{ settings.APP_NAME }} app for iPhone®, iPad®, and Android™. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </div>
    </div>

    <div class="right-content">
        <div class="login-header">
            <div class="brand">
                {{ settings.APP_NAME }}</b> Admin
                <small>For authorized administrator use only</small>
            </div>
        </div>
        
        <div class="login-content">
			<h3 class="page_header"><b>Reset Password <a href="{% url 'core:login' %}" class="btn btn-default"> Back to Login </a></b></h3>
			<br>
			<p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
			<br>
			{% include settings.FORM_ERROR with form=form messages=messages %}
			<form method="post" novalidate>
				<input type="hidden" name="next" value="{{ next }}" />
			  	{% include settings.FORM_CORE with form=form %}
			  	<div class="form-group">
			  		<button type="submit" class="btn btn-default">Reset Password</button>
			  		<input type="hidden" name="next" value="{{ next }}" />
			  	</div>
			</form>	
			<br>
			<p>Please contact us if you have any trouble resetting your password.</p>
        </div>
    </div>
</div> -->

    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(".toggle-password").click(function() {

      var input = $($(this).attr("toggle"));
      if (input.attr("type") == "password") {
        input.attr("type", "text");
      } else {
        input.attr("type", "password");
      }
    });
</script>
{% endblock %}