<div class="title">Edit Group</div>
<div class="errors"></div>
<form method="POST" action="{% url 'group:edit' items.0.id %}" class="submit">
    {% csrf_token %}
    <div class="form-group label-floating">
        <label for="name" class="control-label">Name</label>
        <input id="name" type="text" class="form-control" name="name" value="{{ items.0.name }}" placeholder="Enter name here" autofocus>
    </div>

    <div class="form-group label-floating">
        <label for="description" class="control-label">Description</label>
        <input id="description" type="text" class="form-control" name="description" value="{{ items.0.description }}" placeholder="Enter description here">
    </div>

    <div class="form-group label-floating permissions">
        <label for="description" class="control-label">Permissions</label>
        <div class="permissions-inner">
            <table>
                {% for i in permissions %}
                <tr>
                    <td><label><input type="checkbox" value="{{ i.id }}"name="permission[]" {% if i.id|toStr in items.0.permissions %} checked="checked" {% endif %} class="filled-in" /><span>{{ i.name }}</span></label></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="form-group">
        <button id="save" type="submit" class="btn btn-primary btn-sm">Update</button>
    </div>
</form>

{% block scrips %}
<script>
	$('.submit').on('submit', function(e){
		e.preventDefault();
		var dis = $(this)
		
		var form = new FormData(dis[0]);

		$.ajax({
			type: 'POST',
			url: dis.attr('action'),
			data: form,
			processData: false,
    	contentType: false,
			beforeSend: function(){
				$('#save').html('Saving ...').attr('disabled','disabled');
			},
			success: function(response){
				if(response.message == 'Fields are required.')
				{
					var er = '<div class="alert alert-danger">';
					er += '<p><b>'+response.message+'</b></p>';

					for(i = 0; i< response.errors.length;i++)
					{
						er += '<small>'+response.errors[i]+'</small><br>';
					}
					er += '</div><br><br>';

					$('.errors').html(er);
				}
				else location.href = "{% url 'group:group-list' %}?status=added";

				$('#save').html('Save').removeAttr('disabled');
			}
		});
	});
</script>
{% endblock %}