<div class="title">Add Permission</div>
<div class="errors"></div>
<form method="POST" action="{% url 'permission:add' %}" class="submit">
    {% csrf_token %}
    <div class="form-group label-floating">
        <label for="name" class="control-label">Name</label>
        <input id="name" type="text" class="form-control" name="name" placeholder="Enter name here" autofocus>
    </div>

    <div class="form-group label-floating">
        <label for="description" class="control-label">Slug</label>
        <input id="description" type="text" class="form-control" name="slug" placeholder="Enter slug here">
    </div>
    <div class="form-group">
        <button id="save" type="submit" class="btn btn-primary btn-sm">Save</button>
    </div>
</form>

{% block scrips %}
<script>
	$('.submit').on('submit', function(e){
		e.preventDefault();
		var dis = $(this)
		
		var form = new FormData(dis[0]);

		$.ajax({
			type: 'POST',
			url: dis.attr('action'),
			data: form,
			processData: false,
    	contentType: false,
			beforeSend: function(){
				$('#save').html('Saving ...').attr('disabled','disabled');
			},
			success: function(response){
				if(response.message == 'Fields are required.')
				{
					var er = '<div class="alert alert-danger">';
					er += '<p><b>'+response.message+'</b></p>';

					for(i = 0; i< response.errors.length;i++)
					{
						er += '<small>'+response.errors[i]+'</small><br>';
					}
					er += '</div><br><br>';

					$('.errors').html(er);
				}
				else location.href = "{% url 'permission:permission-list' %}?status=added";

				$('#save').html('Save').removeAttr('disabled');
			}
		});
	});
</script>
{% endblock %}