body{
  background: url("../img/bg-login.png");
  background-size: cover;
}

.center {
  text-align: center;
}

.logo {
  margin-top: 50px;
  width: 185px;
  height: 67px;
}

.title {
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
}

.login-container {
  background-color: #fff;
  border-radius: 4px;
  width: 384px;
  height: 296px;
  margin-top: 44px;
}

#login-form {
  margin-left: 37px
}

.login-account  {
  font-weight: 600;
  font-size: 16px;
  margin-top: 35px;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 17px;
}

.control-label{
  font-size: 12px;
  font-weight: 600;
}

#email {
  font-size: 12px;
  font-weight: 600;
  padding-left: 17px;
  height: 38px;
  width: 312px;
}

#password {
  font-size: 12px;
  font-weight: 600;
  padding-left: 17px;
  height: 38px;
  width: 312px;
}

.field-icon {
  float: right;
  margin-right: 44px;
  margin-top: -29px;
  z-index: 2;
}

.eye {
  cursor: pointer;
  width: 20px;
}

#email:focus, #password:focus {
  border: 1px solid #162EC2;
}

#forgot {
  color: #333;
  font-size: 12px;
  font-weight: 600;
  text-decoration: underline;
  margin-left: 85px;
  margin-top: 10px;
}

#submit {
  background-color: #162EC2;
  color: #fff;
  font-size: 12px;
  width: 74px;
  margin-left: 16px;
  height: 34px;
  padding-top: 7px;
}

/* Reset Password */

.reset-container {
  background-color: #fff;
  border-radius: 4px;
  width: 384px;
  height: 220px;
  margin-top: 44px;
}

.actions {
  margin-left: 14px;
}

#back {
  color: #162EC2;
  font-size: 12px;
  font-weight: 600;
  margin-left: 85px;
  margin-top: 10px;
}

#back:hover {
  text-decoration: none;
}

#reset {
  background-color: #b0b0b0;
  border: none;
  color: #fff;
  font-size: 12px;
  width: 114px;
  margin-left: 16px;
  height: 34px;
  padding-top: 7px;
}