body {
  background-color: #e7e6f2;
}

.center {
  text-align: center;
}

/* Start Side Nav */

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 184px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #212d38;
  padding-top: 20px;
}

.sidenav a:hover {
  color: #162EC2;
}

.sidenav .logo {
  margin-left: -5px;
  margin-bottom: 20px;
}

.sidenav .logo img {
  height: 40px;
}

.sidenav .user img {
  height: 50px;
  margin-bottom: 7px;
}

.sidenav .transaction img {
  height: 42px;
  margin-top: 6px;
  margin-bottom: 10px;
}

.sidenav .engine img {
  height: 48px;
  margin-bottom: 4px;
}

.sidenav .nav {
  margin-left: 23px;
  margin-bottom: 22px;
}

.sidenav .nav a {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.sidenav .nav-inner {
  cursor: pointer;
  width: 135px;
  padding: 8px;
  padding-top: 12px;
  border-radius: 3px;
}

.sidenav .active {
  cursor: pointer;
  width: 135px;
  padding: 8px;
  padding-top: 12px;
  border-radius: 3px;
  background-color: #c92128; 
  background-image: linear-gradient(to right, #c92128 , #e5610a);
}

.sidenav .nav-inner:hover {
  background-color: #c92128; 
  background-image: linear-gradient(to right, #c92128 , #e5610a);
}

/* End Side Nav */


.main {
  margin-left: 184px;
}

/* Start Header */

.main .header {
  display: flex;
  background-color: #fff;
  height: 75px;
}

.main .header .left-header {
  display: flex;
  align-items: center;
}

.main .header .left-header .user {
  margin-left: 36px;
}

.main .header .left-header .user img{
  height: 35px;
}

.main .header .left-header .user-label {
  font-size: 18px;
  font-weight: bold;
  margin-left: 12px;
  margin-right: 60px;
}

.main .header .left-header .menu-user ul {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main .header .left-header .menu-user ul li {
  margin-right: 22px;
}

.main .header .left-header .menu-user ul li .menu-inner1 {
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #fff;
  width: 73px;
  padding-left: 16px;
  padding-right: 2px;
  padding-top: 10px;
  padding-bottom: 6px;
}

.main .header .left-header .menu-user .menu-outer1 .active {
  background-color: #f0f2ff;
  border-radius: 3px;
  border: 1px solid #2138c5;
  cursor: pointer;
  width: 73px;
  padding-left: 16px;
  padding-right: 2px;
  padding-bottom: 10px;
}

.main .header .left-header .menu-user .menu-outer1 .active a{
  color: #2138c5;
}

.main .header .left-header .menu-user ul li .hover1:hover {
  background-color: #f0f2ff;
  cursor: pointer;
  width: 73px;
  border: 1px solid #2138c5;
  padding-left: 16px;
  padding-right: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main .header .left-header .menu-user ul li .menu-inner2 {
  cursor: pointer;
  border-radius: 3px;
  width: 114px;
  padding-left: 17px;
  padding-right: 3px;
  padding-top: 11px;
  padding-bottom: 9px;
}

.main .header .left-header .menu-user .menu-outer2 .active {
  background-color: #f0f2ff;
  border-radius: 3px;
  border: 1px solid #2138c5;
  cursor: pointer;
  width: 114px;
  padding-left: 16px;
  padding-right: 2px;
  padding-top: 10px;
  padding-bottom: 9px;
}

.main .header .left-header .menu-user .menu-outer2 .active a{
  color: #2138c5;
}

.main .header .left-header .menu-user ul li .hover2:hover {
  background-color: #f0f2ff;
  cursor: pointer;
  width: 114px;
  border: 1px solid #2138c5;
  padding-left: 16px;
  padding-right: 2px;
  padding-top: 10px;
  padding-bottom: 9px;
}

.main .header .left-header .menu-user ul li .menu-inner3 {
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #fff;
  width: 82px;
  padding-left: 16px;
  padding-right: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main .header .left-header .menu-user .menu-outer3 .active {
  background-color: #f0f2ff;
  border-radius: 3px;
  border: 1px solid #2138c5;
  cursor: pointer;
  width: 82px;
  padding-left: 16px;
  padding-right: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main .header .left-header .menu-user .menu-outer3 .active a{
  color: #2138c5;
}

.main .header .left-header .menu-user ul li .hover3:hover {
  background-color: #f0f2ff;
  cursor: pointer;
  width: 82px;
  border: 1px solid #2138c5;
  padding-left: 16px;
  padding-right: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main .header .left-header .menu-user ul li a {
  color: #000;
  text-decoration: none;
  font-size: 12px;
  font-weight: 800;
}

.main .header .left-header .menu-user ul li a:hover {
  color: #2138c5;
}

.main .header .right-header {
  display: inline-flex;
  position: absolute;
  right: 40px;
  top: 16px;
}

.main .header .right-header img {
  height: 40px;
}

.main .header .right-header .user-profile .dot {
  height: 38px;
  width: 38px;
  background-color: #26a35d;
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  font-size: 17px;
  text-align: center;
  padding-top: 8px;
  margin-top: 2px;
}

.main .header .right-header .user-name {
  margin-top: 12px;
  margin-left: 12px;
  font-size: 12px;
}

.main .header .right-header .user-name a {
  text-decoration: none;
}

.main .header .right-header .user-name a span {
  color: #000;
  font-weight: 800;
  margin-right: 6px
}

.popover-content {
  text-align: center;
  height: 77px;
  width: 133px;
}

.popover-content .list-group-item {
  color: #000;
  font-size: 12px;
}

.popover-content .popover-inner {
  border-radius: 3px;
}

.popover-content .popover-inner a {
  color: #000;
  font-size: 12px;
  text-decoration: none;
}

.popover-content .popover-inner:hover {
  background-color: #eef0ff;
}

.popover-content .list-group-item:hover {
  text-decoration: none;
}

.popover.bottom {
  top: 32px !important;
  left: -12px !important;
  z-index: 0;
}

.popover.bottom .arrow {
  left: 118px !important;
}

/* End Header */


/* Start Profile Header */

.main .header .left-header2 {
  display: flex;
  align-items: center;
}

.main .header .left-header2 .user {
  margin-left: 36px;
}

.main .header .left-header2 .user img{
  height: 40px;
}

.main .header .left-header2 .user .dot {
  height: 38px;
  width: 38px;
  background-color: #26a35d;
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  font-size: 17px;
  text-align: center;
  padding-top: 8px;
  margin-top: 2px;
}

.main .header .left-header2 .user-label {
  font-size: 18px;
  font-weight: bold;
  margin-left: 12px;
  margin-right: 60px;
}

.main .header .right-header2 {
  display: inline-flex;
  position: absolute;
  right: 40px;
  top: 29px;
  font-size: 12px;
  font-weight: 600;
}

.main .header .right-header2 .log-out-inner {
  color: #000;
  text-decoration: none;
}

.main .header .left-header2 a {
  color: #000;
}

/* End Profile Header */


/* Start List of Transaction Header */

.main .header .left-header .transaction {
  margin-left: 30px;
}

.main .header .left-header .transaction img{
  height: 28px;
}

.main .header .left-header .transaction-label {
  font-size: 18px;
  font-weight: bold;
  margin-left: 12px;
  margin-right: 60px;
}

/* End List of Transaction Header */


/* Start List of Raffle Engine Header */

.main .header .left-header .prizes {
  margin-left: 30px;
}

.main .header .left-header .prizes img{
  height: 35px;
}

.main .header .left-header .prizes-label {
  font-size: 18px;
  font-weight: bold;
  margin-left: 12px;
  margin-right: 60px;
}

.main .header .left-header .menu-prizes ul {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main .header .left-header .menu-prizes ul li {
  margin-right: 22px;
}

.main .header .left-header .menu-prizes ul li .menu-inner1 {
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #fff;
  width: 120px;
  padding-left: 16px;
  padding-right: 2px;
  padding-top: 10px;
  padding-bottom: 6px;
}

.main .header .left-header .menu-prizes .menu-outer1 .active {
  background-color: #f0f2ff;
  border-radius: 3px;
  border: 1px solid #2138c5;
  cursor: pointer;
  width: 120px;
  padding-left: 16px;
  padding-right: 2px;
  padding-bottom: 10px;
}

.main .header .left-header .menu-prizes .menu-outer1 .active a{
  color: #2138c5;
}

.main .header .left-header .menu-prizes ul li .hover1:hover {
  background-color: #f0f2ff;
  cursor: pointer;
  width: 120px;
  border: 1px solid #2138c5;
  padding-left: 16px;
  padding-right: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main .header .left-header .menu-prizes ul li .menu-inner2 {
  cursor: pointer;
  border-radius: 3px;
  width: 130px;
  padding-left: 17px;
  padding-right: 3px;
  padding-top: 12px;
  padding-bottom: 9px;
}

.main .header .left-header .menu-prizes .menu-outer2 .active {
  background-color: #f0f2ff;
  border-radius: 3px;
  border: 1px solid #2138c5;
  cursor: pointer;
  width: 130px;
  padding-left: 16px;
  padding-right: 2px;
  padding-top: 11px;
  padding-bottom: 9px;
}

.main .header .left-header .menu-prizes .menu-outer2 .active a{
  color: #2138c5;
}

.main .header .left-header .menu-prizes ul li .hover2:hover {
  background-color: #f0f2ff;
  cursor: pointer;
  width: 130px;
  border: 1px solid #2138c5;
  padding-left: 16px;
  padding-right: 2px;
  padding-top: 11px;
  padding-bottom: 9px;
}

.main .header .left-header .menu-prizes ul li a {
  color: #000;
  text-decoration: none;
  font-size: 12px;
  font-weight: 800;
}

.main .header .left-header .menu-prizes ul li a:hover {
  color: #2138c5;
}


/* End List of Raffle Engine Header */