.content .action #search {
	font-size: 12px;
	width: 200px;
	height: 36px;
	padding-left: 14px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.content .action #search:focus {
  border: 1px solid #162EC2;
}

#addUser, #addGroup, #addPrize {
  float: right;
  background-color: #162EC2;
  color: #fff;
  font-size: 12px;
  width: 101px;
  margin-left: 16px;
  height: 39px;
  padding-top: 10px;
}

#addPermission {
  float: right;
  background-color: #162EC2;
  color: #fff;
  font-size: 12px;
  width: 125px;
  margin-left: 16px;
  height: 39px;
  padding-top: 10px;
}

/* Start Table */

.content .action {
  margin: 30px;
  margin-top: 25px;
  margin-bottom: -4px;
}

.content .action .search-icon {
	margin-left: -8px;
	position: relative;
}

.content .action .search-icon img{
	height: 36px;
}

.content .table-responsives {
  font-size: 12px;
  margin: 30px;
  overflow: auto;
}

.content .table-responsives .table {
  background-color: #fff;
  border: 1px solid #dcdada;
  margin: -1px !important;
}

.content .table-responsives  th {
  border: 1px solid #dcdada;
  background-color: #f4f4f8;
  font-weight: 800;
  padding-bottom: 12px;
  padding-top: 12px;
}

.content .table-responsives th:first-child {
  padding-left: 40px;
}

.content .table-responsives th, .content .table-responsives td {
  padding-left: 20px;
}

.content .table-responsives td:not(:last-child) {
  padding-top: 11px;
}

.content .table-responsives .users-green {
  background-color: #26a35d;
  color: #fff;
  width: 64px;
  padding-left: 15px;
  padding-top: 4px;
  padding-bottom: 3px;
  border-radius: 3px;
}

.content .table-responsives .users-gray {
  background-color: #a4a4a4;
  color: #fff;
  width: 64px;
  padding-left: 11px;
  padding-top: 4px;
  padding-bottom: 3px;
  border-radius: 3px;
}

.content .table-responsives .actions img {
  cursor: pointer;
  margin-right: 4px;
  height: 25px;
}

.content .paging {
  font-size: 12px;
  margin: 30px;
}

.content .paging .paging-inner-1 span {
  font-weight: bold;
}

.content .paging .paging-inner-1 .dropdown {
  margin: 0 7px 0 7px;
}

.content .paging .paging-inner-1 .dropdown .form-control {
  font-size: 12px;
  padding: 4px;
}

.content .paging .paging-inner-1 .dropdown .form-control:focus {
  border: 1px solid #162EC2;
}

.content .paging .paging-inner-1 {
  display: flex;
  align-items: center;
  float: left;
}

.content .paging .paging-inner-2 {
  float: right;
}

.content .paging .paging-inner-2 .pagination {
  margin-top: 4px;
}

.content .paging .paging-inner-2 .pagination .active span {
  color: #162EC2;
  background-color: #fff;
  border: 1px solid #dcdada;
}

.content .paging .paging-inner-2 .pagination a {
  border: 1px solid #dcdada;
  color: #000;
}


/* Style The Dropdown Button */
.content .paging .paging-inner-1 .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.content .paging .paging-inner-1 .dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.content .paging .paging-inner-1 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.content .paging .paging-inner-1 .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.content .paging .paging-inner-1 .dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.content .paging .paging-inner-1 .dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.content .paging .paging-inner-1 .dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* End Table */


/* Start Side Panel */

#overlay {
  width: 0;
  position: fixed;
  z-index: 3;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 60px; 
  opacity: 0.3;
  filter: alpha(opacity=30); /* For IE8 and earlier */
}  

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 4;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel .closebtn {
  color: #9c9c9c;
  position: absolute;
  text-decoration: none;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.sidepanel .margin{
  margin: 0px 40px 0 40px;
}

.sidepanel .title {
  font-size: 18px;
  font-weight: bold;
  margin-top: -30px;
  margin-bottom: 22px;
}

.sidepanel .form-control {
  font-size: 12px;
  font-weight: bold;
  height: 40px;
}

.sidepanel .form-control:focus {
  border: 1px solid #162EC2;
}


.sidepanel .label-floating {
  font-size: 11px;
}

.sidepanel .label-floating label{
  font-weight: 800;
}

.sidepanel .activate {
  padding: 15px 0 15px 0 !important;
}

.sidepanel .activate .activate-inner {
  display: flex;
}

.sidepanel .activate label {
  font-weight: 600;
}

.sidepanel .form-group #save {
  background-color: #162EC2;
  color: #fff;
  font-size: 12px;
  width: 75px;
  height: 39px;
  padding-top: 10px;
}

/* End Side Panel */


/* Start Users */

.sidepanel .addUser .form-group .mobile {
  display: flex;
}

.sidepanel .addUser .form-group .mobile .input-group-prepend {
  margin-right: -4px;
}

.sidepanel .addUser .form-group .mobile #mobile-number {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.sidepanel .addUser .form-group .mobile .input-group-prepend .input-group-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #ebebeb;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  width: 45px;
  height: 40px;
}

/* End Users */


/* Start Permissions */

.sidepanel .addPermission .slug {
  margin-bottom: 30px;
}

/* End Permissions */


/* Start Groups */

.sidepanel .addGroup .permissions {
  margin-bottom: 15px;
}

.sidepanel .addGroup .permissions-inner {
  margin-top: 14px;
}

.sidepanel .addGroup .permissions-inner table label {
  font-weight: 100;
}

.sidepanel .addGroup .permissions-inner table label span {
  font-size: 11px;
}

.sidepanel .addGroup .permissions-inner table td {
  padding-right: 40px;
  padding-bottom: 25px; 
}

/* End Groups */


/* Start Profile */

.main .content .container {
  display: flex;
  background-color: #fff;
  height: 460px;
  margin: 25px 35px 0px 35px;
  width: 1110px;
  border-radius: 4px;
  border: 1px solid #dcdada;
}

.main .content .container .profile {
  margin: 40px 46px 0 30px;
}

.main .content .container .profile .profile-label {
  margin: 5px 0 0 15px;
}

.main .content .container .profile .profile-label a {
  color: #162EC2;
  font-size: 12px;
  text-decoration: none;
}

.main .content .container .form-control {
  font-size: 12px;
  font-weight: bold;
  height: 38px;
}

.main .content .container .form-control:focus {
  border: 1px solid #162EC2;
}

.main .content .container .label-floating {
  font-size: 11px;
}

.main .content .container .label-floating label{
  font-weight: 800;
}

.main .content .container .profile .dot {
  height: 140px;
  width: 140px;
  background-color: #26a35d;
  border-radius: 6px;
  display: inline-block;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  margin-top: 7px;
}

.main .content .container .info {
  margin-top: 40px;
  width: 280px;
}

.main .content .container .info .form-group .mobile {
  display: flex;
}

.main .content .container .info .form-group .mobile .input-group-prepend {
  margin-right: -4px;
}

.main .content .container .info .form-group .mobile #mobile-number {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.main .content .container .info .form-group .mobile .input-group-prepend .input-group-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #ebebeb;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  width: 45px;
  height: 38px;
}

.main .content .container .info .form-group .field-icon {
  float: right;
  margin-right: 12px;
  margin-top: -26px;
  position: relative;
  z-index: 2;
}

.main .content .container .info .form-group .eye {
  cursor: pointer;
  width: 20px;
}

.main .content .container .info .form-group .change-pw {
  margin: 8px 0 0 2px;
}

.main .content .container .info .form-group .change-pw a{
  color: #162EC2;
  font-size: 11px;
  text-decoration: none
}


.main .content .container .form-group #save {
  background-color: #162EC2;
  color: #fff;
  font-size: 12px;
  width: 116px;
  height: 39px;
  padding-top: 10px;
  margin-top: 10px;
}

.main .content .container .change-password {
  margin: 40px 46px 0 30px;
  width: 280px;
}

.main .content .container .form-group #change-pw {
  background-color: #162EC2;
  color: #fff;
  font-size: 12px;
  width: 136px;
  height: 39px;
  padding-top: 10px;
  margin-top: 10px;
}

/* End Profile */


/* Start Transaction Report*/

.content .content-outer {
  display: flex;
  margin: 30px;
  margin-top: 25px;
  margin-bottom: -4px;
}

.content .content-outer .content-inner-1 {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 9px 20px -6px #b5b5b5;
  -moz-box-shadow:    0px 9px 20px -6px #b5b5b5;
  box-shadow:         0px 9px 20px -6px #b5b5b5;
  margin-right: 22px;
  padding: 20px 30px 30px 30px;
  height: 228px;
  width: 620px;
}


.content .content-outer .content-inner-2 {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 9px 20px -6px #b5b5b5;
  -moz-box-shadow:    0px 9px 20px -6px #b5b5b5;
  box-shadow:         0px 9px 20px -6px #b5b5b5;
  height: 118px;
  width: 275px;
}

.content .content-outer .content-inner-1 .form-control {
  font-size: 12px;
  font-weight: bold;
  height: 38px;
}

.content .content-outer .content-inner-1 .form-control:focus {
  border: 1px solid #162EC2;
}

.content .content-outer .content-inner-1 .label-floating {
  font-size: 11px;
}

.content .content-outer .content-inner-1 .label-floating label{
  font-weight: 800;
}

.content .content-outer .content-inner-1 .content-inner-inner-1 {
  display: flex;
}

.content .content-outer .content-inner-1 .content-inner-inner-1 #search-txt {
  width: 368px;
}

.content .content-outer .content-inner-1 .content-inner-inner-1 .margin {
  margin-right: 15px;
}

.content .content-outer .content-inner-1 .content-inner-inner-2 {
  display: flex;
}

.content .content-outer .content-inner-1 .content-inner-inner-2 .form-group {
  width: 200px;
}

.content .content-outer .content-inner-1 .content-inner-inner-2 .form-group .date .glyphicon-calendar {
  color: #8f8e8e;
}

.content .content-outer .content-inner-1 .content-inner-inner-2 .margin {
  margin-right: 15px;
}

.content .content-outer .form-group #search {
  background-color: #162EC2;
  color: #fff;
  width: 100px;
  height: 34px;
  padding-top: 8px;
}

.content .content-outer .form-group #search i{
  margin-right: 10px;
}

.content .content-outer .form-group #clear-search {
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #acacac;
  height: 34px;
  padding-top: 8px;
  width: 100px;
  margin-left: 14px;
}

.content .content-outer .content-inner-2 {
  display: flex;
}

.content .content-outer .content-inner-2 .valid-transaction .pop-up {
  margin: 4px 0 0 8px;
}

.content .content-outer .content-inner-2 .valid-transaction .pop-up img {
  height: 17px;
}

.content .content-outer .content-inner-2 .valid-transaction .earn-total {
  margin: 15px 0 0 25px;
}

.content .content-outer .content-inner-2 .valid-transaction .earn-total img {
  width: 37px;
}

.content .content-outer .content-inner-2 .valid-transaction .tooltip-arrow {
  border-bottom-color: #acacac
}

.content .content-outer .content-inner-2 .valid-transaction .tooltip-inner {
  background-color: #fff;
  color: #6b6b6b;
  border: 1px solid #ccc;
  height: 30px;
  padding-top: 6px;
  margin-left: 369px !important;
  max-width: 400px !important;
  -webkit-box-shadow: 0px 9px 20px -6px #b5b5b5;
  -moz-box-shadow:    0px 9px 20px -6px #b5b5b5;
  box-shadow:         0px 9px 20px -6px #b5b5b5;
}

.content .content-outer .content-inner-2 .total-transaction {    
  margin-top: 28px;
  margin-left: 12px;
}

.content .content-outer .content-inner-2 .total-transaction .total-transaction-label1 {
  color: #162EC2;
  font-size: 13px;
}

.content .content-outer .content-inner-2 .total-transaction .total-transaction-label2 {
  font-size: 37px;
  font-weight: bold;
}

.content .table-responsives #transaction th {
  white-space: nowrap;
}

.content .table-responsives td {
  white-space: nowrap;
}

.content .table-responsives td:not(:last-child) {
  padding-top: 11px;
}

.content .table-responsives #transaction th, .content .table-responsives #transaction td {
  padding-left: 10px;
}

.content .table-responsives #transaction .address {
  white-space: normal;
}

.content .table-responsives #transaction .transaction-green {
  background-color: #26a35d;
  color: #fff;
  width: 64px;
  padding-left: 18px;
  padding-top: 4px;
  padding-bottom: 2px;
  border-radius: 3px;
}

.content .table-responsives #transaction .transaction-red {
  background-color: #ef1a1a;
  color: #fff;
  width: 64px;
  padding-left: 14px;
  padding-top: 4px;
  padding-bottom: 2px;
  border-radius: 3px;
}

.content .export-xsl {
  height: 50px;
  background-color: #fff;
  position: relative;
  border-bottom: 1px solid #dcdada;
  margin-top: 1px;
}

.content .export-xsl #export-xsl {
  background-color: #fff;
  border-color: #26a35d;
  color: #26a35d;
  font-size: 10px;
  font-weight: 600;
  margin: 12px 0 0 20px;
}

.content .export-xsl #export-xsl:hover {
  background-color: #26a35d;
  border-color: #26a35d;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
}

/* End Transaction Report */


/* Start Void and Un-void Modal Transaction Report */

#voidModal .modal-dialog, #unvoidModal .modal-dialog {
  width: 340px;
  margin: 0 auto;
}

.modal-content-custom {
  box-shadow: none;
  border-color: #fff;
  text-align: center;
}

.modal-content-custom div{
  padding: 10px;
}

.modal-content-custom .title {
  font-size: 16px;
  font-weight: bold;
}

.modal-content-custom .question {
  font-size: 12px;
}

.modal-content-custom .actions .yes {
  background-color: #fff;
  border-color: #2138c5;
  color: #2138c5;
  font-size: 12px;
  font-weight: 600;
  margin-right: 10px;
  width: 54px;
}

.modal-content-custom .actions .no {
  background-color: #fff;
  color: #000;
  font-size: 12px;
}

/* End Void and Un-void Modal Transaction Report */
