
<div class="title">Update User Info</div>
<div class="errors"></div>
<form method="POST" action="{% url 'user:edit' items.0.id %}" class="submit">
	{% csrf_token %}
	<div class="form-group label-floating">
		<label for="fullname" class="control-label">First Name</label>
		<input id="fullname" type="text" value="{{ items.0.first_name}}" class="form-control" name="first_name" placeholder="Enter your first name" autofocus>
	</div>

	<div class="form-group label-floating">
		<label for="fullname" class="control-label">Last Name</label>
		<input id="fullname" type="text" value="{{ items.0.last_name}}" class="form-control" name="last_name" placeholder="Enter your last name" autofocus>
	</div>

	<div class="form-group label-floating">
		<label for="email" class="control-label">Email</label>
		<input id="email" type="text" class="form-control" value="{{ items.0.email}}" name="email" placeholder="sample@email.com">
	</div>

	<div class="form-group label-floating">
		<label for="password" class="control-label">Mobile</label>
		<div class="mobile">
			<div class="input-group-prepend">
				<span class="input-group-text">+63</span>
			</div>
			<input id="mobile-number" type="text" value="{{ items.0.userinfo.mobile}}" class="form-control" name="mobile" placeholder="917xxxxxxx">
		</div>
	</div>

	<div class="form-group label-floating">
		<label for="password" class="control-label">Groups</label>
		<select class="form-control" id="groups" name="group">
			<option value="">Choose</option>
			{% for g in groups %}
			<option value="{{g.id}}" {% if g.id|toStr == items.0.user.group.id|toStr %}selected="selected"{% endif %}>{{g.name}}</option>
			{% endfor %}
		</select>
	</div>

	<div class="form-group label-floating activate">
		<div class="activate-inner">
			<label class="control-label">Activate account</label>
			<div class="switch">
				<label>
					<input type="checkbox" {% if items.0.is_active %}checked="checked"{% endif %}  class="form-control" name="is_active" value="1">
					<span class="lever"></span>
				</label>
			</div>
		</div>
	</div>

	<div class="form-group">
		<button id="save" type="submit" class="btn btn-primary btn-sm">Update</button>
	</div>
</form>

{% block scrips %}
<script>
	$('.submit').on('submit', function(e){
		e.preventDefault();
		var dis = $(this)
		
		var form = new FormData(dis[0]);

		$.ajax({
			type: 'POST',
			url: dis.attr('action'),
			data: form,
			processData: false,
    	contentType: false,
			beforeSend: function(){
				$('#save').html('Saving ...').attr('disabled','disabled');
			},
			success: function(response){
				if(response.message == 'Fields are required.')
				{
					var er = '<div class="alert alert-danger">';
					er += '<p><b>'+response.message+'</b></p>';

					for(i = 0; i< response.errors.length;i++)
					{
						er += '<small>'+response.errors[i]+'</small><br>';
					}
					er += '</div><br><br>';

					$('.errors').html(er);
				}
				else location.href = "{% url 'user:user-list' %}?status=updated";

				$('#save').html('Save').removeAttr('disabled');
			}
		});
	});
</script>
{% endblock %}