{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title %}Users | {{ settings.APP_NAME_TEXT }}{% endblock %}
{% block styles %}
<link rel='stylesheet' href='https://cdn.datatables.net/1.10.19/css/dataTables.foundation.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css'>
{% endblock %}

{% block content %}
<div class="content">
	<form method="GET" class="search-form">
		<div class="action">
			<input id="search" type="text" name="search" placeholder="Search..." value="{{request.GET.search}}">
			<span class="search-icon"><a href="#"><img class="search" src="{% static '/assets/img/icon/search-button.png' %}"></a></span>
			<a id="addUser" class="btn btn-primary btn-sm uaction" data-action="add" data-target=".addUser" data-url="{% url 'user:add' %}">Add User</a>
		</div>
	</form>

	<div class="table-responsives">
		<table id="users" class="table table-bordered nowrap" style="width:100%">
			<thead>
				<tr>
					<th style="width: 20%">Name</th>
					<th style="width: 20%">Email Address</th>
					<th style="width: 15%">Mobile</th>
					<th style="width: 15%">Group</th>
					<th style="width: 15%">Status</th>
					<th style="width: 12%" class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% if items|len == 0 %}
				<tr>
					<td colspan="6"><b>No Data Found.</b></td>
				</tr>
				{% endif %}
				{% for item in items %}
				<tr>
					<td>{{item.first_name}} {{item.last_name}}</td>
					<td>{{item.email}}</td>
					<td>{{item.userinfo.mobile}}</td>
					<td>{{item.user.group.name}}</td>
					<td>
						{% if item.is_active %}
						<div  class="users-green">Active</div>
						{% else %}
						<div  class="users-gray">Inactive</div>
						{% endif %}
					</td>
					<td class="text-center">
						<div class="actions">
							<img class="uaction" data-action="edit" data-target=".addUser" data-url="{% url 'user:edit' item.id %}" src="{% static '/assets/img/icon/ic-edit.png' %}" title="Edit">
							<img class="uaction" data-action="delete" data-target="#deleteModal" data-url="{% url 'user:delete' item.id %}" src="{% static '/assets/img/icon/ic-delete.png' %}" title="Delete">
							<img class="uaction" data-action="changepassword" data-target=".addUser" data-url="{% url 'user:changepassword' item.id %}" src="{% static '/assets/img/icon/ic-resetpassword.png' %}" title="Reset Password">
						</div>
					</td>
				</tr>
				{% endfor %}	                
			</tbody>                  
		</table>
	</div>
	<div class="paging">
		<div class="paging-inner-1">
			<div>Showing <span>{% if current_count != 0 %}1{% else %}0{% endif %}</span> to <span>{{current_count}}</span> of <span>{{all_count}}</span></div>
			<div class="dropdown">
				<select class="form-control per_page">
					{% for i in 100|toPerPage:20 %}
					<option value="{{ i }}" {% if i == limit %}selected="selected"{% endif %}>{{ i }}</option>
					{% endfor %}
				</select>
			</div>
			<div> per page</div>
		</div>

		<div class="paging-inner-2">
			<nav aria-label="...">
				<ul class="pagination">
					{% for n in items.paginator.page_range %}
						{% if items.number == n %}
							<li class="active">
								<a class="page-link">{{ n }}</a>
							</li>
						{% elif n > items.number|add:'-2' and n < items.number|add:'2' %}
							<li>
								<a class="page-link" href="{{ request.get_full_path }}&page={{ n }}">{{ n }}</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</nav>
		</div>
	</div>
	<div id="overlay"></div>
	<!-- Right Navigation -->
	<div id="mySidepanel" class="sidepanel">
		<div>
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
		</div>
		<div class="addUser margin"><h2 class="text-center">Loading ...</h2></div>
	</div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content modal-content-custom">
			<div class="modal-body">
				<div class="title">Delete Item</div>
				<div class="question">Are you sure you want to delete this data ?</div>
				<div class="actions">
				<button type="button" class="btn yes delete">Yes</button>
				<button type="button" class="btn no" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">

	$(document).ready(function(){
		$('[data-toggle="popover"]').popover({
		    html: true,
		    content: function() {
		        return $('#popover-content').html();
		    }
		});

		$('.per_page').change(function(){
			var dis = $(this)
		
			location.href = "{% if 'search' in request.get_full_path %}{{ request.get_full_path }}&{% else %}?{% endif %}limit="+dis.val();
		});

		$('.delete').click(function(){
			var dis = $(this)
			url = dis.data('url')
			location.href = url;
		});

		$('.uaction').on('click', function(){
			var dis = $(this)
			var url = dis.data('url');
			var action = dis.data('action');
			var target = dis.data('target');
			
			if(action == 'delete')
			{
				$('.delete').attr('data-url', url);
				$(target).modal('show');
			}
			else
			{
				$.get(url, function(page){
					openNav();
					$(target).html(page);
				});
			}
		});

		$('.search').click(function(){
			$('.search-form').submit();
		});
	});

	function openNav() 
	{
		document.getElementById("mySidepanel").style.width = "450px";
		document.getElementById("overlay").style.width = "100%";
		$('body').css("overflow", "hidden");
	}

	function closeNav() 
	{
		document.getElementById("mySidepanel").style.width = "0";
		document.getElementById("overlay").style.width = "0";
		$('body').css("overflow", "auto");
	}
</script>
{% endblock %}