
<div class="title">Change Password</div>
<div class="errors2"></div>
<form method="POST" action="{% url 'user:changepassword2' items.0.id %}" class="submit">
	{% csrf_token %}
	<div class="form-group label-floating">
		<label for="fullname" class="control-label">Password</label>
		<input type="password" class="form-control" name="password" placeholder="Enter Password" autofocus>
	</div>

	<div class="form-group label-floating">
		<label for="fullname" class="control-label">Repeat Password</label>
		<input type="password" class="form-control" name="password2" placeholder="Repeat Password">
	</div>

	<div class="form-group label-floating">
		<button id="save2" type="submit" class="btn btn-primary">Update</button>
	</div>
</form>

{% block scrips %}
<script>
	$('.submit').on('submit', function(e){
		e.preventDefault();
		var dis = $(this)
		
		var form = new FormData(dis[0]);

		$.ajax({
			type: 'POST',
			url: dis.attr('action'),
			data: form,
			processData: false,
		contentType: false,
			beforeSend: function(){
				$('#save2').html('Updating ...').attr('disabled','disabled');
			},
			success: function(response){
				if(response.message == 'Fields are required.')
				{
					var er = '<div class="alert alert-danger">';
					er += '<p><b>'+response.message+'</b></p>';

					for(i = 0; i< response.errors.length;i++)
					{
						er += '<small>'+response.errors[i]+'</small><br>';
					}
					er += '</div><br><br>';

					$('.errors2').html(er);
				}
				else location.href = "/user/profile?status=updated";

				$('#save2').html('Update Password').removeAttr('disabled');
			}
		});
	});
</script>
{% endblock %}