{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title %}Profile | {{ settings.APP_NAME_TEXT }}{% endblock %}

{% block content %}
<div class="content">
    <form method="POST" action="{% url 'user:updateprofile' items.0.id %}" class="submit-profile">
        {% csrf_token %}
        <div class="container" style="height: auto">
            <div class="info">
            </div>
            <div class="info">
                <div class="errors"></div>
                <div class="form-group label-floating">
                    <label for="fullname" class="control-label">First Name</label>
                    <input type="text" class="form-control" name="first_name" value="{{request.user.first_name}}" placeholder="Enter your first name" autofocus>
                </div>

                <div class="form-group label-floating">
                    <label for="fullname" class="control-label">Last Name</label>
                    <input type="text" class="form-control" name="last_name" value="{{request.user.last_name}}" placeholder="Enter your last name" autofocus>
                </div>

                <div class="form-group label-floating">
                    <label for="email" class="control-label">Email</label>
                    <input id="email" type="text" class="form-control" name="email"" value="{{request.user.email}}" placeholder="sample@email.com">
                </div>

                <div class="form-group label-floating">
                    <label for="password" class="control-label">Mobile</label>
                    <div class="mobile">
                        <div class="input-group-prepend">
                            <span class="input-group-text">+63</span>
                        </div>
                        <input id="mobile-number" type="text" class="form-control"value="{{request.user.userinfo.mobile}}" name="mobile" placeholder="917xxxxxxx">
                    </div>
                </div>	

                <div class="form-group label-floating">
                    <label for="password" class="control-label">Password</label>
                    <div class="change-pw"><a href="#" class="changepassword" data-target=".changePassword" data-url="{% url 'user:changepassword2' request.user.id %}">Change Password</a></div>
                </div>

                <div class="form-group">
                    <button id="save" type="submit" class="btn btn-primary btn-sm">Save changes</button>
                </div>			
            </div>
        </div>
    </form>

    <div id="overlay"></div>
	<!-- Right Navigation -->
	<div id="mySidepanel" class="sidepanel">
		<div>
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
		</div>
		<div class="changePassword margin"><h2 class="text-center">Loading ...</h2></div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.changepassword').click(function(){
            var dis = $(this)
			var url = dis.data('url');
			var action = dis.data('action');
			var target = dis.data('target');
			
            $.get(url, function(page){
                openNav();
                $(target).html(page);
            });
        });

        $('.submit-profile').on('submit', function(e){
            e.preventDefault();
            var dis = $(this)
            
            var form = new FormData(dis[0]);

            $.ajax({
                type: 'POST',
                url: dis.attr('action'),
                data: form,
                processData: false,
            contentType: false,
                beforeSend: function(){
                    $('#save').html('Saving ...').attr('disabled','disabled');
                },
                success: function(response){
                    if(response.message == 'Fields are required.')
                    {
                        var er = '<div class="alert alert-danger">';
                        er += '<p><b>'+response.message+'</b></p>';

                        for(i = 0; i< response.errors.length;i++)
                        {
                            er += '<small>'+response.errors[i]+'</small><br>';
                        }
                        er += '</div><br><br>';

                        $('.errors').html(er);
                    }
                    else location.href = "/user/profile{{requestuser.id}}?status=updated";

                    $('#save').html('Update Password').removeAttr('disabled');
                }
            });
        });
    });

    function openNav() 
	{
		document.getElementById("mySidepanel").style.width = "450px";
		document.getElementById("overlay").style.width = "100%";
		$('body').css("overflow", "hidden");
	}

	function closeNav() 
	{
		document.getElementById("mySidepanel").style.width = "0";
		document.getElementById("overlay").style.width = "0";
		$('body').css("overflow", "auto");
	}
</script>
{% endblock %}