{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title %}Sign In | {{ settings.APP_NAME_TEXT }}{% endblock %}
{% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static '/assets/css/custom.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static '/assets/css/login.css' %}" type="text/css" />
{% endblock %}
{% block content %}
<div class="center">
		<img class="logo center" src="{% static '/assets/img/icon/gmovies-logo.png' %}">
	</div>
<div class="title center">{{settings.APP_NAME}}</div>
<div class="container">
    <div class="login-container" style="height: auto">
        {% include settings.FORM_ERROR with form=form messages=messages %}
        <div class="login-account center">Log in to your account</div>
        <form id="login-form" role="form" method="POST" novalidate">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
            <!-- {% include settings.FORM_CORE with form=form %} -->
            <div class="form-group label-floating">
                <label for="email" class="control-label">Email</label>
                <input id="email" type="text" class="form-control" name="username" placeholder="Enter your email" autofocus>
            </div>

            <div class="form-group label-floating">
                <label for="password" class="control-label">Password</label>
                <input id="password" type="password" class="form-control" name="password" placeholder="Enter your password">
                <span toggle="#password" class="field-icon toggle-password"><img class="eye" src="{% static '/assets/img/icon/ic-showhide.png' %}"></span>
            </div>

            <div class="form-group">
                <a id="forgot" href="{% url 'core:password_reset' %}">Forgot your password?</a>
                <button id="submit" type="submit" class="btn btn-primary btn-sm">Log in</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(".toggle-password").click(function() {

      var input = $($(this).attr("toggle"));
      if (input.attr("type") == "password") {
        input.attr("type", "text");
      } else {
        input.attr("type", "password");
      }
    });
</script>
{% endblock %}