{% load staticfiles %}
<div class="header">
	{% if 'profile' in request.get_full_path %}
	<div class="left-header2">
		<div class="user"><span class="dot">{% if user.is_superuser %} {{request.user.username|firstUpper}} {% else %} {{request.user.first_name|firstUpper}} {% endif %}</span></div>
		<div class="user-label">My Profile</div>
	</div>
	<div class="right-header2">
		<div class="log-out"><a href="{% url 'core:logout' %}" class="log-out-inner">Log out</a></div>
	</div>
	{% else %}
	<div class="left-header">
		{% if request.resolver_match.url_name == 'transaction' %}
		<div class="transaction"><img src="{% static '/assets/img/icon/ic-transaction-report-blue.png' %}"></div>
		<div class="transaction-label">List of Transaction</div>
		{% endif %}

		{% if 'group' in request.get_full_path or 'user' in request.get_full_path or 'permission' in request.get_full_path  %}
		<div class="user"><img src="{% static '/assets/img/icon/ic-usermgmt-blue.png' %}"></div>
		<div class="user-label">User Management</div>
		<div class="menu-user">
			<ul>
				{% if 'user' in request.user.id|getPermissions|toStrArr or request.user.is_superuser %}
				<li class="menu-outer1"><a href="{% url 'user:user-list' %}"><div class="menu-inner1 hover1 {% if 'user' in request.get_full_path %} active {% endif %}">Users</div></a></li>
				{% endif %}
				
				{% if 'permission' in request.user.id|getPermissions|toStrArr or request.user.is_superuser %}
				<li class="menu-outer2"><a href="{% url 'permission:permission-list' %}"><div class="menu-inner2 hover2 {% if 'permission' in request.get_full_path %} active {% endif %}">Permissions</div></a></li>
				{% endif %}

				{% if 'group' in request.user.id|getPermissions|toStrArr or request.user.is_superuser %}
				<li class="menu-outer3"><a href="{% url 'group:group-list' %}"><div class="menu-inner3 hover1 {% if 'group' in request.get_full_path %} active {% endif %}">Groups</div></a></li>
				{% endif %}
			</ul>				
		</div>
		{% endif %}
	</div>
	<div class="right-header">
		<div class="user-profile">
			<span class="dot">{% if user.is_superuser %} {{request.user.username|firstUpper}} {% else %} {{request.user.first_name|firstUpper}} {% endif %}</span>
		</div>
		<div class="user-name">Hi, <a href="#" data-toggle="popover" data-placement="bottom"><span>{% if user.is_superuser %} {{request.user.username}} {% else %} {{request.user.first_name}} {% endif %}</span><i class='fa fa-angle-down'></i></a></div>
	</div>
	<!-- loaded popover content -->
	<ul id="popover-content" class="list-group" style="display: none">
		<div class="popover-inner"><a class="btn" href="{% url 'user:profile' %}" class="list-group-item">My Profile</a></div>
		<div class="popover-inner"><a class="btn" href="{% url 'core:logout' %}" class="list-group-item">Log out</a></div>
	</ul>
	{% endif %}
</div>
