{% load staticfiles %}
<!-- Side navigation -->
<div class="sidenav center">
	<div class="logo center"><img src="{% static '/assets/img/icon/gmovies-logo.png' %}"></div><br>
	{% if 'user' in request.user.id|getPermissions|toStrArr or request.user.is_superuser %}
	<div class="nav user center"><a href="{% url 'user:user-list' %}"><div class="nav-inner{% if 'group' in request.get_full_path or 'user' in request.get_full_path or 'permission' in request.get_full_path  %} active {% endif %}"><img src="{% static '/assets/img/icon/ic-usermgmt.png' %}"><br>User Management</div></a></div>
	{% endif %}
	{% if 'transaction' in request.user.id|getPermissions|toStrArr or request.user.is_superuser %}
	<div class="nav transaction center"><a href="{% url 'transaction:transaction' %}"><div class="nav-inner{% if request.resolver_match.url_name == 'transaction' %} active {% endif %}"><img src="{% static '/assets/img/icon/ic-transaction-report.png' %}"><br>List of Entries</div></a></div>
	{% endif %}
</div>