<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    {% load staticfiles %}
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta name="generator" content="Codeply">
    <link rel="shortcut icon" href="{% static 'app.ico' %}">
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    {% if user.is_authenticated %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static '/assets/css/custom.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static '/assets/css/navbar.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static '/assets/css/style.css' %}" type="text/css" />
    {% endif %}
    <!-- ADDITIONAL CUSTOM STYLES -->
    {% block styles %}{% endblock %}
</head>
<body>

    {% if user.is_authenticated %}
        {% include 'layout/includes/sidebar.html' %}
    {% endif %}
    <div class="main">
        {% if user.is_authenticated %}
            {% include 'layout/includes/header.html' %}
        {% endif %}
        <div class="content">
            {% block content %}
                {{ block.super }}
                Welcome To Gmovies Django 2.0
            {% endblock %}
        </div>
    </div>

    {% if user.is_authenticated %}
        {% include 'layout/includes/footer.html' %}
    {% endif %}
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <!-- ADDITIONAL CUSTOM SCRIPTS -->
    {% block scripts %}{% endblock %}
</body>
</html>