{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title %}Dashboard | {{ settings.APP_NAME_TEXT }}{% endblock %}
{% block styles %}
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css'>
{% endblock %}

{% block content %}
<div id="content" class="content">
	{% if 'transaction' in request.user.id|getPermissions|toStrArr or request.user.is_superuser %}

	<div class="content">
		<form method="GET">
			<div class="content-outer">
				<div class="content-inner-1">
					<div class="content-inner-inner-1">
						<div class="form-group margin label-floating" style="width: 70%">
							<label for="search" class="control-label">Search</label>
							<input type="text" class="form-control" name="search" placeholder="Search..." value="{{ request.GET.search }}">
						</div>

						<div class="form-group label-floating">
							<label for="field" class="control-label">Field</label>
							<select class="form-control" id="field" name="field">
								<option value="">Choose</option>
								{% for i in fields %}
								<option {% if request.GET.field == i|getAttr:'key' %}selected="selected"{% endif %} value="{{i|getAttr:'key'}}">{{i|getAttr:'value'}}</option>
								{% endfor %}
							</select>
						</div>
					</div>

					<div class="content-inner-inner-2">
						<div class="form-group margin label-floating">
							<label for="theater_org" class="control-label">Theaters</label>
							<select class="form-control" id="theater_org" name="theater_org">
								<option value="">Choose</option>
								{% for i in theater_orgs %}
								<option {% if request.GET.theater_org == i %}selected="selected"{% endif %}  value="{{i}}">{{i}}</option>
								{% endfor %}
							</select>
						</div>

						<div class="form-group margin label-floating">
							<label for="field" class="control-label">Start Date</label>
							<div class='input-group date' id='datetimepicker1'>
								<input type='text' class="form-control" placeholder="Pick start date" name="start_date" value="{{request.GET.start_date}}" />
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>

						<div class="form-group label-floating">
							<label for="field" class="control-label">End Date</label>
							<div class='input-group date' id='datetimepicker2'>
								<input type='text' class="form-control" placeholder="Pick end date" name="end_date" value="{{request.GET.end_date}}"  />
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
					</div>

					<div class="form-group">
						<button id="search" type="submit" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> </i>Search</button>
					</div>
				</div>
			</div>
		</form>

		<div class="table-responsives">
			<table class="table table-bordered nowrap" style="width:100%">
				<thead>
					<tr>
						<th>Ticket Code</th>
						<th>Date & Time</th>
						<th>Customer Name</th>
						<th>Theater</th>
						<th>Cinema</th>
						<th>Seats</th>
						<th>Platform</th>
						<th>Payment Method</th>
						<th>Email</th>
						<th>Mobile</th>
						<th>Postal Address</th>
						<th>Additional Entries</th>
						<th>Transaction Earnings</th>
						<th>Status</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% if transactions|len == 0 %}
					<tr>
						<td colspan="15"><b>No Data Found.</b></td>
					</tr>
					{% endif %}
					{% if onsearch  %}
						{% for a in transactions %}
						<tr>
							<td>{{ a.ticket_code }}</td>
							<td>{{ a.transaction_date|date:"d M Y ; H:i:s a" }}</td>
							<td>
								{% if a.customer.first_name is not None %} {{a.customer.first_name}} {% endif %}
								{% if a.customer.last_name is not None %} {{a.customer.last_name}} {% endif %}
							</td>
							<td>{{ a.theaterorg_name }}</td>
							<td>{{ a.theater_name }}</td>
							<td>{{ a.seat_ids }}</td>
							<td>{{ a.platform }}</td>
							<td>{{ a.payment_type }}</td>
							<td>{{ a.customer.email }}</td>
							<td>{{ a.customer.mobile }}</td>
							<td>
								{% if a.customer.postal_addr is not None %} {{a.customer.postal_addr}} {% endif %}
							</td>
							<td>{{ a.multiplier }}</td>
							<td>{{ a.transaction_entry }}</td>
							<td>
								{% if a.state == 'TX_DONE' %}
								<div  class="transaction-green">Valid</div>
								{% else %}
								<div  class="transaction-red">Invalid</div>
								{% endif %}
							</td>
							<td>
								{% if 'user' in request.user.id|getPermissions|toStrArr or request.user.is_superuser %}
									{% if a.state == 'TX_DONE' %}
									<div class="actions">
										<a href="#" class="void" data-action="void" data-target="#voidModal" data-id="{{ a.gae_transaction_id }}"><img src="{% static '/assets/img/icon/ic-void.png' %}" title="Void"></a>
									</div>
									{% else %}
									<div class="actions">
										<a href="#" class="void" data-action="unvoid" data-target="#unvoidModal" data-id="{{ a.gae_transaction_id }}"><img src="{% static '/assets/img/icon/ic-unvoid.png' %}" title="Un-Void"></a>
									</div>
									{% endif %}
								{% else %}
								No Permission
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					{% else %}
						{% for a in transactions %}
						<tr>
							<td>{{ a.ticket_code }}</td>
							<td>{{ a.transaction_date }}</td>
							<td>{{ a.customer_first_name }} {{ a.customer_last_name }}</td>
							<td>{{ a.data.ticket_info.0.theater_organization }}</td>
							<td>{{ a.theater_name }}</td>
							<td>{{ a.data.reservation_info|retvalues|cutList:'' }}</td>
							<td>{{ a.platform }}</td>
							<td>{{ a.payment_type }}</td>
							<td>{{ a.data.payment_info.0.email }}</td>
							<td>{{ a.data.payment_info.0.mobile }}</td>
							<td>
								{% if a.postal_addr != '' or  a.postal_addr != 'null' %} {{a.postal_addr}} {% endif %}
							</td>
							<td>{{ a.multiplier|cutList:a.multiplier }}</td>
							<td>{{ a.transaction_entry }}</td>
							<td>
								{% if a.data.primary_info.0.state == 'TX_DONE' %}
								<span  class="transaction-green">Valid</span>
								{% else %}
								<span  class="transaction-red">Invalid</span>
								{% endif %}
							</td>
							<td>
								{% if 'user' in request.user.id|getPermissions|toStrArr or request.user.is_superuser %}
									{% if a.data.primary_info.0.state == 'TX_DONE' %}
									<div class="actions">
										<a href="#" class="void" data-action="void" data-target="#voidModal" data-id="{{ a.gae_transaction_id }}"><img src="{% static '/assets/img/icon/ic-void.png' %}" title="Void"></a>
									</div>
									{% else %}
									<div class="actions">
										<a href="#" class="void" data-action="unvoid" data-target="#unvoidModal" data-id="{{ a.gae_transaction_id }}"><img src="{% static '/assets/img/icon/ic-unvoid.png' %}" title="Un-Void"></a>
									</div>
									{% endif %}
								{% else %}
								No Permission
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					{% endif %}
				</tbody>        
			</table>
			<div class="export-xsl">
				<a href="#" id="export-xsl" class="btn btn-success btn-sm report" data-search="{{ search }}" data-org="{{ chosen_org }}" data-start="{{ start_date }}" data-end="{{ end_date}}" data-onsearch="{{ onsearch }}"><i class="fa fa-file-excel-o aria-hidden="true""></i> Export as XSL</a>
			</div>
		</div>

		<div class="paging">
			<div class="paging-inner-1">
				<div>Showing <span>{% if current_count != 0 %}1{% else %}0{% endif %}</span> to <span>{{current_count}}</span> of <span>{{all_count}}</span></div>
				<div class="dropdown">
					<select class="form-control per_page">
						{% for i in 100|toPerPage:20 %}
						<option value="{{ i }}" {% if i == limit %}selected="selected"{% endif %}>{{ i }}</option>
						{% endfor %}
					</select>
				</div>
				<div> per page</div>
			</div>


			{% if onsearch  %}
			<div class="paging-inner-2">
				<nav aria-label="...">
					<ul class="pagination">
						{% for n in transactions.paginator.page_range %}
							{% if transactions.number == n %}
								<li class="active">
									<a class="page-link">{{ n }}</a>
								</li>
							{% elif n > transactions.number|add:'-2' and n < transactions.number|add:'2' %}
								<li>
									<a class="page-link" href="{{ request.get_full_path }}&page={{ n }}">{{ n }}</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</nav>
			</div>
			{% else %}
			<div class="paging-inner-2">
				<ul class="pagination">
					{% if current_count < limit %}
					<li class="active">
						<a class="page-link" href="#">1</a>
					</li>
					{% else %}
						{% for a in pages %}
						<li class="{% if a|plus == page %}active{% endif %}">
							<a href="{% url 'transaction:transaction' %}?offset={{limit|multiply:a}}&limit={{limit}}&page={{a|plus}}">{{ a|plus}}</a>
						</li>
						{% endfor %}
					{% endif %}
				</ul>
			</div>
			{% endif %}
		</div>
	</div>
	{% else %}
	<h2>Not Authorized.</h2>
	{% endif %}
</div>


<!-- Void Modal -->
<div class="modal fade" id="voidModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content modal-content-custom">
			<div class="modal-body">
				<div class="title">Void Entry</div>
				<div class="question">Are you sure you want to void this transaction entry?</div>
				<div class="actions">
				<button type="button" class="btn yes void-action">Yes</button>
				<button type="button" class="btn no" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Un-void Modal -->
<div class="modal fade" id="unvoidModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content modal-content-custom">
			<div class="modal-body">
				<div class="title">Un-void Entry</div>
				<div class="question">Are you sure you want to un-void this transaction entry?</div>
				<div class="actions">
				<button type="button" class="btn yes void-action">Yes</button>
				<button type="button" class="btn no" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end #content -->
{% endblock %}

{% block scripts %}
<script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip();

		$('[data-toggle="popover"]').popover({
		    html: true,
		    content: function() {
		        return $('#popover-content').html();
		    }
		});

		$('#datetimepicker1, #datetimepicker2').datepicker({ format: "yyyy-mm-dd" });

		$('#drawWinnerModal').on('show.bs.modal', function (e) {
			$('#drawWinnerModal').css({"display": "flex", "align-items": "center"});
		});

		$('#unvoidModal').on('hidden.bs.modal', function (e) {
			$('#unvoidModal').css({"display": "none", "align-items": "none"});
		});

		$('#voidModal').on('show.bs.modal', function (e) {
			$('#voidModal').css({"display": "flex", "align-items": "center"});
		});

		$('#voidModal').on('hidden.bs.modal', function (e) {
			$('#voidModal').css({"display": "none", "align-items": "none"});
		});

		$('#unvoidModal').on('show.bs.modal', function (e) {
			$('#unvoidModal').css({"display": "flex", "align-items": "center"});
		});

		$('#unvoidModal').on('hidden.bs.modal', function (e) {
			$('#unvoidModal').css({"display": "none", "align-items": "none"});
		});

		$('.export-xsl').css('width',$('#transaction').width());
	});

	$('.per_page').change(function(){
		var dis = $(this)
		
		location.href = "{% if 'search' in request.get_full_path %}{{ request.get_full_path }}&{% else %}?{% endif %}limit="+dis.val();
	});

	$('.void').click(function() {
		var dis 	= $(this)
		var action 	= dis.data('action');
		var id 		= dis.data('id');
		var target_modal = $(this).data('target');
		
		$(target_modal).modal('show');

		$(target_modal+ ' .void-action').attr('data-id', id);
		$(target_modal+ ' .void-action').attr('data-action', action);
	});


	$('.void-action').click(function(){
		var dis 	= $(this)
		var action 	= dis.data('action');
		var id 		= dis.data('id');
		var url = "/api/v1/transaction/void/"+id;

		if(action == "unvoid") 
			var url = "/api/v1/transaction/unvoid/"+id

		$.get(url, function(response){
			console.log(response)

			if(response.status == '0')
				alert(response.message);
			else
				location.reload()
		});
	});

	$('.report').click(function() {
		var dis 	= $(this)
		var onsearch = dis.data('onsearch')
		var search 	= dis.data('search');
		var org 	= dis.data('org');
		var start 	= dis.data('start');
		var end 	= dis.data('end');
		var report_filter;
		
		if (onsearch == 'True'){
			report_filter = search + "~" + org + "~" + start + "~" + end;}
		else{
			report_filter = "~~~";}
		var url 	= "/api/v1/transaction/report/" + report_filter;
		var request = new XMLHttpRequest();
		var fileName = "RaffleTransactionReport.xlsx";
		
		request.open('GET', url, true);
		request.setRequestHeader('Content-Type', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet');
		request.responseType = 'blob';

		request.onload = function(e) {
			if (this.status === 200) {
				var blob = this.response;
				if(window.navigator.msSaveOrOpenBlob) {
					window.navigator.msSaveBlob(blob, fileName);
				}
				else{
					var downloadLink = window.document.createElement('a');
					var contentTypeHeader = request.getResponseHeader("Content-Type");
					downloadLink.href = window.URL.createObjectURL(new Blob([blob], { type: contentTypeHeader }));
					downloadLink.download = fileName;
					document.body.appendChild(downloadLink);
					downloadLink.click();
					document.body.removeChild(downloadLink);
				}
			}
		};
		request.send();
	});
</script>
{% endblock %}